.NaM{
    color: black;
}

.post-left {
    flex: 0 0 35%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
    box-sizing: border-box;
    overflow:hidden;
}
<<<<<<< HEAD
.post-left {
=======

.post-right {
    flex: 0 0 35%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
    box-sizing: border-box;
    overflow:hidden;

}

.post-name {
>>>>>>> b417149e7c6a19b04a68dc708ea2611c61bb20cc
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
        padding: 3%;
}


.post-content {
        width: 50%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
}
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-desc{
<<<<<<< HEAD
    height: 55px;
    /* margin-bottom: 0 !important; */
    overflow: hidden;
    width: 400px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    -webkit-line-clamp: 2;
=======
    height: 80px;
    margin-bottom: 0 !important;
    max-width: 400px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    line-height: 1.5em;
    max-height: 4.5em;
>>>>>>> b417149e7c6a19b04a68dc708ea2611c61bb20cc
}
body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.allPostsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    align-content: space-around;
}
.trashIconButtonDiv{
    float: right;
    padding-top: 2%;
}
.trashIconButton{
    border: none;
    background: none;
    font-size: larger;
}
#deleteConfirmationText{
    color: black;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Roboto Condensed';
}
#yesButton{
    width: 40%;
    background: indianred;
    border: none;
    padding: 10px;
    color: white;
    margin-right: 2%;
    margin-left: 3%;
    margin-top: 20px;
}
#noButton{
    width: 40%;
    background: mediumseagreen;
    border: none;
    padding: 10px;
    color: white;
    /* margin-right: 10px; */
    margin-left: 10%;
    margin-top: 20px;
}
.moreContentDiv{
    float: right;
}
.moreContentButton{
    border: none;
    background: none;
    font-size: larger;
}
=======
    width: 85%;
    flex-flow: row wrap;
}

.icon{
    text-align: end;
}

/* The Modal (background) */
.trashmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .trash-modal-content {
    background-color: #fefefe;
    color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30vh; /* Could be more or less, depending on screen size */
    height: 12vh;
    align-items: center;
    align-content: center;
    align-self: auto;
    font-weight: bold;
  }

  #trash-btns{
      display: flex;
      padding: 10px;
      margin: 10px;
      flex-direction: row;
  }
  
  /* The No Button */
  #yes-btn {
    color:white;
    float: right;
    font-size: 15px;
    cursor: pointer;
    background-color: green;
    padding: 10px;
    margin: 10px;
  }
  
  /* The Yes Button */
  #no-btn {
    color:white;
    float: right;
    font-size: 15px;
    cursor: pointer;
    background-color:red;
    padding: 15px;
    margin: 10px;
  }
>>>>>>> b417149e7c6a19b04a68dc708ea2611c61bb20cc
