/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.header{
    display: flex;
    padding: 5px;
 }
 .brand{
    flex-direction: column;
    width: 85%;
    font-family: 'Satisfy';
 }
 #buttons{
    flex-direction: column;
    margin-left: 5%;
 }
 #pageTitle{
   color: blue;
   font-size: xx-large;
 }
 #sub-heading{
    
 }
.headerButton{
   background-color: blue;
   color: white;
   padding: 10px;
   margin: 2px;
}
 